@import "./base";

.wrapper {
  background-color: #69b9b9;
  min-height: 100vh;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 1170px;
}

.todo-form {
  margin: 0 10px;
  overflow: hidden;
  display: flex;
  width:95vw;
  max-width: 490px;

  &__input {
    border: 1px solid #758cbf;
    border-radius: 2vw 0 0 2vw;
    font-size: 17px;
    padding-left: 30px;
    max-width: 400px;
    width: 70vw;
    height: 5vh;
  }

  &__button {
    font-size: 17px;
    background-color: #758cbf;
    height: 5vh;
    width: 30vw;
    border-radius:0 2vw 2vw 0;
  }
}
.update{
  margin-top: 1.5vh;
}



.todo-row {
  font-size: 17px;
  border-radius: 2vw;
  width:95vw;
  margin: 1.5vh;
  height: 6vh;
  max-width: 490px;
  display: flex;
  justify-content: space-between;
  background-color: #758cbf;

  &__icons{
    margin: auto 0;
    padding-right:2vw;
  }

  &__text{
    margin: auto 0;
    padding-left: 30px;

  }
}

.icons {
  &__update {
    background-color: #758cbf;
    margin-right: 20px;
  }

  &__delete{
    background-color: #758cbf;
  }
}


.complete {
  background-color: #4b5a7c;
  text-decoration: line-through;
}
